<style>
	.top {
		position: relative;
		height: 44px;
		border-bottom: 1px solid #eee;
		font: 15px/45px a;
		color: rgba(0, 0, 0, .7);
		background-color: #efeff0;
	}
	.top .top__back {
		float: left;
		width: 42px;
		height: 42px;
	}
	.top__back:before {
		content: '';
		display: block;
		margin: 15px 0 0 16px;
		width: 10px;
		height: 16px;
		background: url(/static/img/back.png);
		background-size: 10px 16px;
	}
	.header-home {
		float: right;
		width: 44px;
		height: 44px;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01eZH42sBV7/QTS90E2ZVritaa.png) no-repeat center;
		background-size: 16px;
	}

</style>
<div class="top">
	<a href="/" class="top__back"></a>
	<span class="top__title">书籍详情</span>
	<a href="/" class="header-home"></a>
</div>